@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Curriculum.Entities.Teacher>
@{
    ViewData["Title"] = "Teachers";
}

<style>
    th {
        vertical-align: middle;
    }
</style>

<h1>Teachers</h1>

<p>
    <a asp-action="Create">Create New Teacher</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Teacher Name
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.full_name)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.desc)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
