@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Curriculum.Entities.Schedule
@{
    ViewData["Title"] = "Edit Subject";
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="EditConfirmed">
            <h5>Edit Subject</h5>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mt-3">
                <select asp-for="subject_id" class="form-select" aria-required="true">
                    <option disabled selected></option>
                    @if (ViewBag.Subjects != null)
                    {
                    foreach (var item in ViewBag.Subjects)
                    {
                    <option value="@item.id">@item.subject_name</option>
                    }
                    }
                </select>
                <label asp-for="course_id">Subject Name</label>
                <span asp-validation-for="subject_id" class="text-danger"></span>
            </div>
            <div class="form-floating mt-3">
                <select asp-for="teacher_id" class="form-select" aria-required="true">
                    <option disabled selected></option>
                    @if (ViewBag.Teachers != null)
                    {
                    foreach (var item in ViewBag.Teachers)
                    {
                    <option value="@item.id">@item.full_name</option>
                    }
                    }
                </select>
                <label asp-for="course_id">Teacher Name</label>
                <span asp-validation-for="subject_id" class="text-danger"></span>
            </div>
            <div class="form-floating mt-3">
                <select asp-for="course_id" class="form-select" aria-required="true">
                    <option disabled selected></option>
                    @if (ViewBag.Courses != null)
                    {
                    foreach (var item in ViewBag.Courses)
                    {
                    <option value="@item.id">@item.course_name</option>
                    }
                    }
                </select>
                <label asp-for="course_id">Course Name</label>
                <span asp-validation-for="course_id" class="text-danger"></span>
            </div>
            <div class="form-floating mt-3">
                <select asp-for="group_id" class="form-select" aria-required="true">
                    <option disabled selected></option>
                </select>
                <label asp-for="group_id">Group Name</label>
                <span asp-validation-for="group_id" class="text-danger"></span>
            </div>
            <div class="form-floating mt-3">
                <input asp-for="place" class="form-control" placeholder="Place" required/>
                <label asp-for="place"></label>
                <span asp-validation-for="place" class="text-danger"></span>
            </div>
            <div class="form-floating mt-3">
                <input asp-for="start_time" class="form-control" placeholder="Start Time" type="datetime-local" required/>
                <label asp-for="start_time"></label>
                <span asp-validation-for="start_time" class="text-danger"></span>
            </div>
            <div class="form-floating mt-3">
                <input asp-for="end_time" class="form-control" placeholder="End Time" type="datetime-local" required/>
                <label asp-for="end_time"></label>
                <span asp-validation-for="end_time" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="id" /> <!-- Add this line -->
            <div class="form-floating mt-3">
                <input type="submit" value="Edit" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

