@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Curriculum.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <select id="roleSelect" asp-for="Input.Role" class="form-select" asp-items="@Model.Input.RolesList" aria-required="true">
                    <option disabled selected></option>
                </select>
                <label asp-for="Input.Role">Role</label>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>
            <div id="studentSelects" style="display: none;">
                <div class="form-floating mb-3">
                    <select id="courseSelect" asp-for="Input.CourseId" class="form-select" aria-required="true">
                        <option disabled selected value="@null"></option>
                        @foreach (var course in Model.Input.CourseIdList)
                        {
                            <option value="@course.id">@course.course_name</option>
                        }
                    </select>
                    <label asp-for="Input.CourseId">Course</label>
                    <span asp-validation-for="Input.CourseId" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <select id="groupSelect" asp-for="Input.GroupId" class="form-select" aria-required="true">
                        <option disabled selected value="@null"></option>
                    </select>
                    <label asp-for="Input.GroupId">Group</label>
                    <span asp-validation-for="Input.GroupId" class="text-danger"></span>
                </div>
            </div>

            <div id="teacherSelect" style="display: none;">
                <div class="form-floating mb-3">
                    <select id="courseSelect" asp-for="Input.teacher_id" class="form-select" aria-required="true">
                        <option disabled selected value="@null"></option>
                        @foreach (var course in Model.Input.TeacherIdList)
                        {
                        <option value="@course.id">@course.full_name</option>
                        }
                    </select>
                    <label asp-for="Input.teacher_id">Course</label>
                    <span asp-validation-for="Input.teacher_id" class="text-danger"></span>
                </div>
            </div>
            
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#courseSelect').change(function () {
                var selectedCourseId = $(this).val();
                if (selectedCourseId) {
                    $.getJSON('/Groups/GetGroupsByCourseId', { courseId: selectedCourseId }, function (data) {
                        var groupDropdown = $('#groupSelect');
                        groupDropdown.empty();
                        $.each(data, function (index, item) {
                            groupDropdown.append($('<option></option>').val(item.id).text(item.group_name));
                        });
                    });
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#roleSelect').change(function () {
                var selectedRole = $(this).val();
                if (selectedRole === 'Student') {
                    $('#studentSelects').show();
                    $('#teacherSelect').hide();
                } else if (selectedRole === 'Teacher') {
                    $('#teacherSelect').show();
                    $('#studentSelects').hide();
                } else {
                    $('#studentSelects').hide();
                    $('#teacherSelect').hide();
                }
            });
        });
    </script>
}
